AI Projects/n8n/Image to Etsy/n8n.json
{
  "nodes": [
    {
      "parameters": {
        "path": "generate",
        "method": "POST",
        "responseMode": "onReceived"
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [200, 200]
    },
    {
      "parameters": {
        "prompt": "={{$json[\"prompt\"]}}",
        "n": 1,
        "size": "512x512"
      },
      "name": "Generate Image",
      "type": "n8n-nodes-base.openai",
      "typeVersion": 1,
      "position": [400, 200],
      "credentials": {
        "openAIApi": {
          "id": "YOUR_OPENAI_CREDENTIAL_ID"
        }
      }
    },
    {
      "parameters": {
        "model": "gpt-4",
        "messages": [
          {
            "role": "user",
            "content": "Write a 2-sentence Etsy listing description for: {{$json[\"prompt\"]}}"
          }
        ]
      },
      "name": "Generate Description",
      "type": "n8n-nodes-base.openai.chat",
      "typeVersion": 1,
      "position": [600, 200],
      "credentials": {
        "openAIApi": {
          "id": "YOUR_OPENAI_CREDENTIAL_ID"
        }
      }
    },
    {
      "parameters": {
        "statusCode": 200,
        "body": "={ \"image_url\": $node[\"Generate Image\"].json[\"data\"][0][\"url\"], \"description\": $node[\"Generate Description\"].json[\"choices\"][0][\"message\"][\"content\"] }"
      },
      "name": "Return Response",
      "type": "n8n-nodes-base.httpResponse",
      "typeVersion": 1,
      "position": [800, 200]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{ "node": "Generate Image", "type": "main", "index": 0 }]]
    },
    "Generate Image": {
      "main": [[{ "node": "Generate Description", "type": "main", "index": 0 }]]
    },
    "Generate Description": {
      "main": [[{ "node": "Return Response", "type": "main", "index": 0 }]]
    }
  },
  "name": "generate",
  "settings": {},
  "version": 1
}
